
*{  
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-transform: capitalize;
    
}

.navbar{
    background-color: gray;
}

.navbar ul li a{
    text-decoration: none;
    font-size: 25px;
    margin: 15px;
    font-weight: 600;
    color: aliceblue;
    
}
.navbar ul li a:hover{
    background-color: rgb(169, 169, 236);
    color: palevioletred;
    border-radius: 5px;
    padding: 3px;
    margin: 50px;
    transition: all ease 2s;
}
.navbar ul li{
    text-decoration: none;
    display: inline;
    right: 25px;
}

.navbar #date{
    font-size:15px;
    color:pink;
    right:0;

}
#like{
    font-size:15px;
    color:black;
}
.fa-solid{
    font-size:15px;
    color:red;
    cursor:pointer;
}
.fa-dove{
    font-size:25px;
    position:absolute;
    animation: mymove 15s infinite linear;
}
@keyframes mymove{
    0% {left:0px; color: red;}
    5% {left: 100px; color: blue;}
    10%{left: 200px;color: orange;}
    15%{left: 300px;color: orangered;}
    20%{left: 400px;color: green;}
    25%{left: 500px;color: yellow;}
    30%{left: 600px; color: yellowgreen;}
    35%{left: 700px;color: blueviolet;}
    40%{left: 800px;color: white;}
    45%{left: 900px; color: royalblue;}
    50%{left: 1000px;color: red;} 
    55%{left: 1050px;color: blueviolet;}
    60%{left: 1100px;color: white;}
    65%{left: 1200px; color: royalblue;}
    70%{left: 1250px;color: red;} 
    75%{left: 1300px; color: royalblue;}
    /* 80%{left: 1450px;color: red;}  */
}

.middlecontainer1{
    position: relative;
    display: flex;
    flex-direction: row;
    background-image: url(./images/shaniwar\ wada.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 500px;
    text-align: center;
    align-self: center;
    align-items: center;

}
.middlecontainer1 h1{
    position: absolute;
    font-size: 50px;
    display: block;
    top: 0px;
    left: 33%;
    color: black;
    
}
.middlecontainer1 h4{
    /* position: absolute;
    font-size: 20px;
    display: block;
    top: 400px;
    text-align: center;
    justify-content: center;
    color: rgb(238, 236, 241) */

    background-color: rgba(0, 0, 0, 0.2);
    color: #fff0c2;
    font-weight: bold;
    font-size: 20px;
    /* border: 8px solid #000000; */
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 970px;
    padding: 50px;
    text-align: center;
}
.gallary{
    width: 100%;
    margin-top: 5px;
    color: green;
    
    background-color: rgba(0, 0, 0, 0.2);
}
.gallary h1{
    font-size: 50px;
}
.row{
    display: flex;
    flex-direction: row;
    margin: 0px;
}

.block1{
    position: relative;
    width: 100%;
    min-height: 460px;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    text-align: left;

}
.gal_header{
    position: absolute;
    left: 0;
    top: -10px;
    margin-bottom: 5px;
    
}
.gal_header h1{
    text-decoration: underline;
    font-size: 25px;
}
.galImg{
    position: absolute;
    left: 0;
    top: 30px;
}

.block1 h1{
    display: block;
    
}

.galImg img{
    width: 440px;
    height: 440px;
    min-width: 280px;
    height: auto;
    top: 50px;
    border-radius: 8px;
    border: 1px solid black;
    transition: transform 2s;

}
.galImg img:hover{
    transform:scale(1.1)
}
.text1{
    position: absolute;
    font-size: 25px;
    left: 450px;
    top: 20px;
}

.galImg2{
    width: 100%;
    position: absolute;
}

.galImg2 img{
    display: flex;
    flex-direction: row;
    float: right;
    margin-left: 5px;
    margin-bottom: 5px;
    
    
}
#big_sec{
    height: 600px;
}

.text2{
    position: absolute;
    display: flex;
    top: 20px;
    width: 65%;
    left: 5px;
    flex-direction: row;
    display: inline;
    font-size: 25px;
}

.footer{
    width:100%;
    background-color:grey;
    font-size:20px;
    color: green;
    text-align:center;
}

@media (min-width: 250px) and (max-width:450px){
    body{
        /* font-size: smaller; */
    }
    .middlecontainer1{
        position: relative;
    }
    .middlecontainer1 h1{
        font-size: 30px;
        color: red;
        text-align: center;
        left: 20px;
    }

    .middlecontainer1 h4{
        position: relative;
        width: 380px;
        background-color: transparent;
        font-size: 12px;
        text-align: justify;
        margin-bottom: 110px;
    }
    .gallary h1{
        font-size: 30px;
    }
    .block1{
        display: block;
        margin-bottom: 10px;
        /* height: 900px; */
    }
    .Shaniwar{
        height: 500px;
    }
    .Sinhagad{
        height: 600px;
    }
    .Sinhagad .text2{
        display: block;
        left: 0;
        font-size: 15px;
        top: 250px;
        width: 100%;
        text-align: justify;
    }
    
    .Lohagad{
        height: 500px;
    }
    .Lohagad .text1{
        margin-top: 30px;
        height: 200px;
        display: block;
        width: 100%;
        text-align: justify;
    }
    .khandala{
        height: 1000px;
        width: 100%;
       
        margin-bottom: 350px;
    }
    .khandala .text2{
        position: absolute;
        margin-top: 60px;
        display: block;
        width: 100%;
        height: 950px;
        text-align: justify;
    }
    /* .spl .big_text{
        position: absolute;
        display: block;
        font-size: 12px;
        text-align: justify;
        align-items:baseline;
        left: 0px;
        height: 800px;
        width: 100%;
        margin-top: 50px;
        color: blueviolet;
    } */
    .Lonavala{
        height: 800px;
        top: 0px;
       
        margin-bottom: 250px;
    }
    .Lonavala .text1{
        position: absolute;
        margin-top: 60px;
        display: block;
        width: 100%;
        height: 850px;
        text-align: justify;
    }
    .Aga{
        height: 600px;
        
    }
    .Aga .big_text{
        display: block;
        height: 100px;
        width: 100%;
        margin-top: 55px;
        text-align: justify;
        /* background-color: orangered; */
    }
    .galImg{
        margin-top: 10px;
    }
    .galImg2{
        margin-bottom: 10px;
    }
    .galImg img{
        display: block;
        width: 150px;
    }
    .text1{
        display: block;
        left: 0;
        font-size: 15px;
        top: 200px;
        width: 100%;

    }

   
    .text2{
        display: block;
        left: 0;
        font-size: 15px;
        top: 200px;
       margin-bottom: 10px;
    }
    
}
    